<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.okhome.consultant">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.OkhomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.main.trainee.TraineeMainActivity" />
        <activity android:name=".view.main.consultant.ConsultantMainActivity" />
        <activity android:name=".view.news.NewsActivity" />
        <activity android:name=".view.news.NewsSingleActivity" />
        <activity android:name=".view.faq.FaqActivity" />
        <activity android:name=".view.faq.FaqSingleActivity" />
        <activity android:name=".view.faq.FaqSearchResultActivity" />
        <activity android:name=".view.account.AccountSettingsActivity" />
        <activity
            android:name=".view.etc.SplashActivity"
            android:label="OKHOME Consultants">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.etc.BlockedActivity" />
        <activity android:name=".view.account.AuthActivity" />
        <activity android:name=".view.photochooser.CropImageActivity" />
        <activity android:name=".view.photochooser.ImageChooserActivity" />
        <activity android:name=".view.account.SignupActivity" />
        <activity android:name=".view.account.SigninActivity" />
        <activity android:name=".view.account.reset.ForgotLoginActivity" />
        <activity android:name=".view.userinfo.trainee.FillupUserInfoActivity" />
        <activity android:name=".view.userinfo.trainee.UpdateUserDocumentActivity" />
        <activity android:name=".view.etc.LocationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBotNQOUVtAnpV7UzhoDZ4AfCWFa_q_4iw" />

        <activity
            android:name=".view.etc.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.userinfo.trainee.UpdateExtraUserDocumentActivity" />
        <activity android:name=".view.userinfo.trainee.TraineeScreeningMornitorActivity" />
        <activity android:name=".view.userinfo.trainee.UpdateConsultantEducationActivity" />
        <activity android:name=".view.userinfo.trainee.UpdateConsultantAreaActivity" />
        <activity android:name=".view.userinfo.trainee.UpdateJobExperienceActivity" />
        <activity android:name=".view.etc.AboutOkhomeActivity" />
        <activity android:name=".view.userinfo.AccountActivity" />
        <activity android:name=".view.traininginfo.TraineeTrainingActivity" />
        <activity android:name=".view.traininginfo.TraineeTrainingItemInfoActivity" />
        <activity android:name=".view.cleaning.CleaningDetailActivity" />
        <activity android:name=".view.salary.ConsultantSalaryListActivity" />
        <activity android:name=".view.cleaning_review.CleaningReviewListActivity"></activity>
    </application>

</manifest>